<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>fortune2 test page</title>
<style>
body { margin: 0 auto; width: 50% }
.fortune { padding: 20px; border: 1px dotted; }
#new_fortune { margin: 20px 0; }
.fortune {margin: 1em 0;}
</style>
</head>
<body>
<h1>fortune2 test page</h1>
<form action="./" method="get">
    <label for="jar">Select a category</label><br>
    {{if .Qjar}}
    <input id="jar" name="jar" list="jarslist" value="{{.Qjar}}">
    {{else}}
    <input id="jar" name="jar" list="jarslist" value="(random)">
    {{end}}
    <datalist id="jarslist">
        <option value="(random)">
        {{range .Jars}}
        <option value="{{.}}">
        {{end}}
    </datalist>
    <button id="get_fortune">Get Fortune</button>
</form>
{{if .Fortune.Body}}
    <article class="fortune">
    <p>
    ({{.Fortune.Jar}})<br>
    {{.Fortune.Body}}<br>
    </p>
    <p>
    {{if not .Qjarid}}
    <a href="/site?jar={{.Fortune.Jar}}&jarid={{.Fortune.ID}}">permalink</a>
    {{end}}
    </p>
    </article>
{{else}}
    <p>No fortune exists.</p>
{{end}}
<script>
let jar_entry = document.querySelector("#jar");
jar_entry.addEventListener("focus", function(e) {
    jar_entry.select();
});
</script>
</body>
</html>

